#
# Hilfe nachzuselesen hier:
# https://wiki.selfhtml.org/wiki/Webserver/mod_rewrite#Allgemeines_-_URLs_manipulieren_mit_mod_rewrite
#
RewriteEngine on
RewriteBase "/NOdin/"

# Das Webseiten Charset wird in der customConfig.inc.php definiert!
# AddDefaultCharset UTF-8

# Wenn ich die RewriteCond aktiviere... kann man auch deep-Links ausführen
# z.B. http://192.168.6.11/NOdin/includes/classes/Login.class.php
#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{REQUEST_FILENAME} !-d
#RewriteCond %{REQUEST_FILENAME} !-l


#RewriteRule ^([^/.]+).php|.class.php|.inc.php|.htm/?$ main.php?callAction=forbidden&subAction=callUrl [L]
RewriteRule ^([^/.]+)(/)+?.php|.class.php|.inc.php|.htm/?$ main.php?callAction=forbidden&subAction=callUrl [L]


# http://192.168.6.11/NOdin/user/add/peter/Rest/Ist/Egal
RewriteRule ^([^/.]+)/?$ main.php?callAction=$1 [L]
RewriteRule ^([^/.]+)/([^/.]+)/?$ main.php?callAction=$1&subAction=$2 [L]
RewriteRule ^([^/.]+)/([^/.]+)/([^/.]+)/?$ main.php?callAction=$1&subAction=$2&valueAction=$3 [L]
RewriteRule ^([^/.]+)/([^/.]+)/([^/.]+)/(.*)/?$ main.php?callAction=$1&subAction=$2&valueAction=$3&parseAction=$4 [L]
