@CHARSET "ISO-8859-1";

/* Body Default - Color-Set */
body { 
	color: #000000; 
	font-family: "Arial", sans-serif;
	font-size: 12px;
	background-color: #FFFFFF;
	margin:0;
	padding:0;
	height:100%;
	overflow:hidden;
}
html {
	margin:0;
	padding:0;
	height:100%;
	overflow:hidden;
}


/* Standard Link - Color-Set */
a.std:link, a.std:visited, a.std:hover, a.std:active {
	color: #000000;
	text-decoration: none;
}
a.std:hover {
	background-color: rgba(204, 252, 255, 1);
}
a.std:active {
	color: darkgreen;
}






/* Größe ändern von Eingabefeld onFocus */
input[id=ReRaise] {
  width: 50px;
  -webkit-transition: ease-in-out, width .35s ease-in-out;
  transition: ease-in-out,width .35s ease-in-out;
}
input[id=ReRaise]:focus {
  width: 150px;
}




/* Standard Input-Feld - Verhalten */
input[id=DefaultGetData] {
  width: 150px;
  border: 1px solid;
  background-color: #F0F0F0;
  font-family: "Arial", sans-serif;
  font-size: 12px;
}
input[id=DefaultGetData]:focus {
  width: 150px;
  border: 1px solid;
  background-color: #FFFFFF;
  font-family: "Arial", sans-serif;
  font-size: 12px;
}



.debugHeadlineInformation {
	background: rgba(204, 252, 255, 1);
	text-align: center;
	padding-left:0px;
}


table.debugHeadlineInformation {
	text-align: left;
	border-collapse: collapse;
	font-family: "Arial", sans-serif;
	font-size: 12px;
	background-color: rgba(204, 252, 255, 1);
}




.messagesHeadlineInformation {
	background: rgba(204, 252, 255, 1);
	text-align: left;
	padding-left:0px;
}


table.messagesHeadlineInformation {
	text-align: left;
	border-collapse: collapse;
	font-family: "Arial", sans-serif;
	font-size: 11px;
	background-color: rgba(204, 252, 255, 1);
}






















/* Table */
table.standard {
    border-collapse: collapse;
    font-family: "Arial", sans-serif;
	font-size: 12px;
	background-color: #FFFFFF;
}

table.headInfo {
	border-collapse: collapse;
	font-family: "Arial", sans-serif;
	font-size: 12px;
	background-color: #FFFFFF;
}


td.standard {

}


.footer{

	text-align: right;
	padding-right:10px;
	color: rgba(70, 70, 70, 0.76);
	background-image: linear-gradient(90deg, rgba(204, 252, 255, 1), transparent);
}


.debugOptions{
	background: rgba(204, 252, 255, 1);
	text-align: center;
	padding-left:0px;
}

.debugOptionsSubline{
	background: transparent;
	text-align: left;
	padding-left:0px;
}

.debugOptionsReverse{
	background-image: linear-gradient(90deg, rgba(204, 252, 255, 1), transparent);
	text-align: left;
	padding-right:0px;
}


.messageWord{
	font-size: 8px;
	color: rgba(74, 74, 74, 0.76);
}



td.loginForm {

}





th {
	border-bottom: 1px solid black;
}


.rPaddingSix {
	padding-right: 6px;
}
.lPaddingSix {
	padding-right: 6px;
}



.width_100p {
	width: 100%;
}


/* Button td in Login - Form */
.buttonFieldLogin{
	padding-left:20px;
}


/* Border Steuerung für Tabellen */
.rightLine{
	border-right: 1px solid black;
}
.topLine{
	border-top: 1px solid black;
}
.leftLine{
	border-left: 1px solid black;
}
.bottomLine{
	border-bottom: 1px solid black;
}
.bottomLineGreen{
	border-bottom: 1px solid rgb(122, 167, 170);
}





/* AUSRICHTUNGEN */

/* Text Ausrichtung */
.textCenter{
	text-align: center;
}
.textLeft{
	text-align: left;
}
.textRight{
	text-align: right;
}


/* Tabellen Ausrichtung */
.alignCenter{
	text-align: center;
}
.alignLeft{
	text-align: left;
}
.alignRight{
	text-align: right;
}


