@CHARSET "ISO-8859-1";

/* head - Message Window */
.headInfoMessage {
	background: rgba(204, 252, 255, 1);
	height: 100px;
	overflow: auto;
	width: 100%;
	border: 1px solid #000;
	padding: 10px;
}


.showDebugValues
{
	background: rgb(197, 209, 230);
	height: 600px;
	overflow: auto;
	width: 99%;
	border: 1px solid #000;
	/*padding: 10px;*/
	padding-top: 4px;
}


/* head - Message Window (ausgeblendet)*/
.headInfoMessageHidden {
	background: rgb(255, 255, 255);
	height: 104px;
	overflow: auto;
	width: 100%;
	border: 0px solid #000;
	padding: 10px;
}


/* head - Message Window (ausgeblendet)*/
.contentBody {
	background: rgb(255, 255, 255);
	height: 404px;
	overflow: auto;
	width: 100%;
	border: 0px solid #000;
	padding: 10px;
}


.debugOptionLeiste {
	background-color: #ffffff;
	position: absolute;
	width: 98%;
	/*height: 20px;*/
	top: 130px;
	left: 10px;
}





#head_container {
	/*background:#efefef;*/
	/*height:138px;*/
	height:16%;
	text-align:center;
	padding-top:0px;
}

#body_container {
	/*height:600px;*/
	padding-top:0px;
	height:81%;
	overflow:auto;
}

#bodyDebug_container {
	/*height:600px;*/
	padding-top:0px;
	height:41%;
	overflow:auto;
}

#debug_container {
	/*height:600px;*/
	padding-top:0px;
	height:40%;
	overflow:auto;
}

#footer_container {
	/*height:23px;*/
	height:3%;
	text-align:center;
	padding-top:2px;
	padding-bottom:0px;
}


